@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --main-font: "Ubuntu Mono", monospace;
}


/* Default Styling  =================================================================*/

* {
    vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 1rem;
}

body {
    line-height: 1.6em;
    color: #EEE;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--main-font);
    cursor: crosshair;
}   

/* Menu ================================================================= */

#menu {
    display: flex;
    flex-direction: column;
    width: 22.5vw;
    min-width: 200px;
    /* min-height: 100vh; */
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid #555;
    background-color: #333;
    cursor: auto;
    overflow: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
    background: #555;
}
  
#title {
    color: #EEE;
    font-size: 3rem;
    font-family: var(--main-font);
    min-height: 3rem;
    margin: 1em 0 0 0;
}

p, a {
    color: #EEE;
    font-size: 1.25rem;
    margin-top: 1rem;
}

ul > li {
    font-size: .9rem;
    /* margin-top: 0.25em; */
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.inputFunction, #evaluateButton, #add {
    font-family: var(--main-font);
    font-size: 1.5rem;
    min-height: 3rem;
    padding: 0.5em 1em;
}


.inputFunction {
    width: 100%;
    border-bottom: 1px solid #333;
}

#add {
    text-align: left;
    border: 1px dashed #333;
    transition:cubic-bezier(0.39, 0.575, 0.565, 1) 150ms all;
}

#add:hover {
    opacity: 0.8;
    border: 1px dotted #333;
    cursor: pointer;
}

#evaluateButton {
    cursor: pointer;
    padding: .5em 0 1em 0;
    transition:cubic-bezier(0.39, 0.575, 0.565, 1) 150ms all;
    margin-top: 3rem;
}

#evaluateButton:hover {
    opacity: 0.8;
    transform: translateY(10px);
}

/* Media Queries ================================================= */
@media screen and (min-width: 2000px) {
    :root {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 2000px) {
    :root {
        font-size: 1rem;
    }
}
@media screen and (max-width: 1500px) {
    :root {
        font-size: .75rem;
    }
}
@media screen and (max-width: 1000px) {
    :root {
        font-size: .5rem;
    }
}

